[Unit]
Description=MFRC5222 RFID reader service
After=network.target

[Service]
User={{ mfrc522.user }}
Group={{ mfrc522.group }}
Restart=always
Environment="LANG=en_US.UTF-8"
ExecStart={{ mfrc522.executable }}

[Install]
WantedBy=multi-user.target

