[Unit]
Description=Invoke aplay from /dev/zero at system start.
Before=MFRC522-shutdown.service

[Service]
Restart=always
ExecStart=/usr/bin/aplay -D default -t raw -r 48000 -c 2 -f S16_LE /dev/zero

[Install]
WantedBy=multi-user.target
