---

name: test

on: [push]

jobs:

  test:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install lgpio
        run: sudo apt -y install python3-lgpio

      - name: Install required packages
        run: pip install -r requirements.txt

      - name: Execute tests
        run: ./test.sh
